body
{
    /* background: url('../images_file/Abc.jpg') ; */
/* background-repeat:no-repeat; */
background-size:100% 750px;
width:100%;
height:50%;

}
h1
{
text-align:center ;
font-size:50px;
color:red;
padding: 10px;
}
pre
{
text-align:left;
font-size:15px;
color:rgb(6, 25, 134);

}
.home{
    display: block;
    text-align: center;
}