body{
    background-color: rgb(131, 131, 64);
    text-align: center;
}
h1
{
    
    margin-left:400px; 
   margin-right: 470px;

}
p{
    text-align: center;
    font-size: 30px;
}
hr{
    color: black;
}